@font-face {
	font-family: "wlIcon";
	/* #ifdef MP */
	src: url('static/style/font_1394144_fesvc3fixit.ttf?t=1693791549607') format('truetype');
	/* #endif */
	/* #ifndef MP */
	/* src: url('https://at.alicdn.com/t/c/font_1394144_fesvc3fixit.ttf?t=1693791549607') format('truetype'); */
	src: url('static/style/font_1394144_fesvc3fixit.ttf?t=1693791549607') format('truetype');
	/* #endif */
}

.wlIcon {
  font-family: "wlIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wlIcon-xiazai:before {
  content: "\e718";
}

.wlIcon-zhuye:before {
  content: "\e83a";
}

.wlIcon-shoushouzhang:before {
  content: "\e71c";
}

.wlIcon-jiazai2:before {
  content: "\e71f";
}

.wlIcon-biaoqing3:before {
  content: "\e746";
}

.wlIcon-shangpin2:before {
  content: "\e722";
}

.wlIcon-yhq:before {
  content: "\e714";
}

.wlIcon-dingdan:before {
  content: "\e715";
}

.wlIcon-kjhf:before {
  content: "\e717";
}

.wlIcon-tup:before {
  content: "\e719";
}

.wlIcon-lishi:before {
  content: "\e71b";
}

.wlIcon-huidaodingbu:before {
  content: "\e70c";
}

.wlIcon-shanchu:before {
  content: "\e713";
}

.wlIcon-fangxiang4:before {
  content: "\e695";
}

.wlIcon-groups:before {
  content: "\e70b";
}

.wlIcon-fangxiang2:before {
  content: "\e694";
}

.wlIcon-shoucangxuanzhong:before {
  content: "\e652";
}

.wlIcon-shoucang:before {
  content: "\e653";
}

.wlIcon-xuanzhuan:before {
  content: "\e68f";
}

.wlIcon-xinxi:before {
  content: "\e648";
}

.wlIcon-zan:before {
  content: "\e649";
}

.wlIcon-jinrudianpu:before {
  content: "\e64a";
}

.wlIcon-dianzan:before {
  content: "\e64b";
}

.wlIcon-shengbo:before {
  content: "\e63c";
}

.wlIcon-wentifankui:before {
  content: "\e643";
}

.wlIcon-youhuiquan:before {
  content: "\e635";
}

.wlIcon-gongnengjianyi:before {
  content: "\e637";
}

.wlIcon-huanyipi:before {
  content: "\e638";
}

.wlIcon-guanzhudianpu:before {
  content: "\e630";
}

.wlIcon-yiguanzhu:before {
  content: "\e631";
}

.wlIcon-huiyuanqia:before {
  content: "\e634";
}

.wlIcon-chanpincanshu:before {
  content: "\e627";
}

.wlIcon-goumai:before {
  content: "\e628";
}

.wlIcon-baocundaozhuomian:before {
  content: "\e62e";
}

.wlIcon-fenlei:before {
  content: "\e61f";
}

.wlIcon-chiping:before {
  content: "\e623";
}

.wlIcon-diyu:before {
  content: "\e620";
}

.wlIcon-gaoyu:before {
  content: "\e622";
}

.wlIcon-sousuo:before {
  content: "\e61e";
}

.wlIcon-paixing:before {
  content: "\e659";
}

.wlIcon-guanyuwo:before {
  content: "\e65a";
}

.wlIcon-liebiaomoshi2:before {
  content: "\e656";
}

.wlIcon-wodexuanzhong:before {
  content: "\e654";
}

.wlIcon-shanchu1:before {
  content: "\e65b";
}

.wlIcon-zanxuanzhong:before {
  content: "\e65c";
}

.wlIcon-biaoqing1:before {
  content: "\e65d";
}

.wlIcon-tishi:before {
  content: "\e65e";
}

.wlIcon-cuowu:before {
  content: "\e660";
}

.wlIcon-jifen1:before {
  content: "\e661";
}

.wlIcon-zuji:before {
  content: "\e662";
}

.wlIcon-jindianzi:before {
  content: "\e663";
}

.wlIcon-shangpin:before {
  content: "\e626";
}

.wlIcon-tupian:before {
  content: "\e62c";
}

.wlIcon-shangchuan:before {
  content: "\e642";
}

.wlIcon-pintuan2:before {
  content: "\e710";
}

.wlIcon-youhuiquan-:before {
  content: "\e61b";
}

.wlIcon-coupon:before {
  content: "\e61d";
}

.wlIcon-youhuiquanbao:before {
  content: "\e70a";
}

.wlIcon-pintuan3:before {
  content: "\e60e";
}

.wlIcon-pintuan5:before {
  content: "\e632";
}

.wlIcon-fuzhi:before {
  content: "\e712";
}

.wlIcon-jiazai1:before {
  content: "\e711";
}

.wlIcon-zhuyidapx:before {
  content: "\e70f";
}

.wlIcon-dingdan1:before {
  content: "\e70e";
}

.wlIcon-jinbitixian:before {
  content: "\e704";
}

.wlIcon-yue1:before {
  content: "\e705";
}

.wlIcon-zhanghuyue:before {
  content: "\e706";
}

.wlIcon-zanwuchongzhijilu:before {
  content: "\e766";
}

.wlIcon-chongzhichenggong:before {
  content: "\e707";
}

.wlIcon-tixianjilu:before {
  content: "\e708";
}

.wlIcon-yinhangka:before {
  content: "\e709";
}

.wlIcon-apple-pay:before {
  content: "\e702";
}

.wlIcon-baidu-pay:before {
  content: "\e703";
}

.wlIcon-xuanze-danxuan:before {
  content: "\e6ff";
}

.wlIcon-yueduliang:before {
  content: "\e701";
}

.wlIcon-guijihuifang:before {
  content: "\e6f2";
}

.wlIcon-icon_zhibo-mian:before {
  content: "\e700";
}

.wlIcon-dianzan1:before {
  content: "\e6f9";
}

.wlIcon-dianzan11:before {
  content: "\e6fd";
}

.wlIcon-pinglun:before {
  content: "\e6fe";
}

.wlIcon-zhibo:before {
  content: "\e6fa";
}

.wlIcon-zhibozhong-0:before {
  content: "\e6fc";
}

.wlIcon-weixiao:before {
  content: "\e745";
}

.wlIcon-zan1:before {
  content: "\e870";
}

.wlIcon-guanzhu4:before {
  content: "\e6fb";
}

.wlIcon-xuanzeanniudian:before {
  content: "\e605";
}

.wlIcon-xuanze:before {
  content: "\e6f8";
}

.wlIcon-bangzhu3:before {
  content: "\e6f6";
}

.wlIcon-icon-service:before {
  content: "\e617";
}

.wlIcon-jiage:before {
  content: "\e6f1";
}

.wlIcon-jingjiachenggong:before {
  content: "\e6f3";
}

.wlIcon-shouhoufuwu-zidongpingjia:before {
  content: "\e604";
}

.wlIcon-pingjiazongjie:before {
  content: "\e6f4";
}

.wlIcon-baojiadan:before {
  content: "\e6f5";
}

.wlIcon-youhuiquantuangou:before {
  content: "\e6ee";
}

.wlIcon-icon_pinglun:before {
  content: "\e6ed";
}

.wlIcon-mianxing-rili:before {
  content: "\e6f0";
}

.wlIcon-jifen2:before {
  content: "\e616";
}

.wlIcon-shibai:before {
  content: "\e87c";
}

.wlIcon-pintuantuangouchenggong:before {
  content: "\e6eb";
}

.wlIcon-pintu:before {
  content: "\e6ec";
}

.wlIcon-pintuanzhuanqu:before {
  content: "\e6ee";
}

.wlIcon-shezhi1:before {
  content: "\e6ef";
}

.wlIcon-yiqipin:before {
  content: "\e61a";
}

.wlIcon-qiye:before {
  content: "\e6e9";
}

.wlIcon-qijiandian:before {
  content: "\e97f";
}

.wlIcon-gerendian:before {
  content: "\e6ea";
}

.wlIcon-chaping:before {
  content: "\e6e3";
}

.wlIcon-haoping:before {
  content: "\e6e5";
}

.wlIcon-zhongchaping:before {
  content: "\e6e6";
}

.wlIcon-haoping1:before {
  content: "\e6e7";
}

.wlIcon-tupian1:before {
  content: "\e6e2";
}

.wlIcon-zhifeiji:before {
  content: "\e6e1";
}

.wlIcon-fasong:before {
  content: "\e614";
}

.wlIcon-fuwuxing:before {
  content: "\e6e8";
}

.wlIcon-jubao:before {
  content: "\e6df";
}

.wlIcon-caidanguanli_:before {
  content: "\e6e4";
}

.wlIcon-guanbi1:before {
  content: "\e6db";
}

.wlIcon-huatong01:before {
  content: "\e6de";
}

.wlIcon-icon-test:before {
  content: "\e6e0";
}

.wlIcon-biaoqing2:before {
  content: "\e6dc";
}

.wlIcon-emoji_icon:before {
  content: "\e6dd";
}

.wlIcon-yuyinyou:before {
  content: "\e6d9";
}

.wlIcon-yuyinzuo:before {
  content: "\e6da";
}

.wlIcon-pingjiapaizhao:before {
  content: "\e6d2";
}

.wlIcon-yuanquanjiahao:before {
  content: "\e6d6";
}

.wlIcon-wuuiconxiangjifangda:before {
  content: "\e6d7";
}

.wlIcon-zhinengyuyinjiaohu:before {
  content: "\e6d8";
}

.wlIcon-jianpanqiehuan:before {
  content: "\e7db";
}

.wlIcon-yuyin:before {
  content: "\e606";
}

.wlIcon-miao:before {
  content: "\e6cd";
}

.wlIcon-kuaizhaobeifenyuhuifu:before {
  content: "\e6cb";
}

.wlIcon-fabu:before {
  content: "\e6c9";
}

.wlIcon-fuwuqi:before {
  content: "\e612";
}

.wlIcon-fuwuqi1:before {
  content: "\e613";
}

.wlIcon-categoryTitle:before {
  content: "\e6c6";
}

.wlIcon-bofang:before {
  content: "\e6c4";
}

.wlIcon-banner:before {
  content: "\e6c0";
}

.wlIcon-image:before {
  content: "\e611";
}

.wlIcon-notice:before {
  content: "\e6bf";
}

.wlIcon-seckill:before {
  content: "\e60c";
}

.wlIcon-menu:before {
  content: "\e6be";
}

.wlIcon-article:before {
  content: "\e6d0";
}

.wlIcon-video:before {
  content: "\e6d1";
}

.wlIcon-activity:before {
  content: "\e6d3";
}

.wlIcon-navicon-hd:before {
  content: "\e6d4";
}

.wlIcon-goods:before {
  content: "\e6d5";
}

.wlIcon-shangpin1:before {
  content: "\e75f";
}

.wlIcon-likes:before {
  content: "\e6ce";
}

.wlIcon-bargain:before {
  content: "\e6cf";
}

.wlIcon-empty:before {
  content: "\e6bd";
}

.wlIcon-search:before {
  content: "\e6c1";
}

.wlIcon-division:before {
  content: "\e6c5";
}

.wlIcon-classify:before {
  content: "\e6c8";
}

.wlIcon-dianchifull:before {
  content: "\e60a";
}

.wlIcon-WIFI:before {
  content: "\e71d";
}

.wlIcon-xinhao:before {
  content: "\e609";
}

.wlIcon-dianhua:before {
  content: "\e6bc";
}

.wlIcon-tubiao309:before {
  content: "\e6ba";
}

.wlIcon-huiyuanzhongxin:before {
  content: "\e779";
}

.wlIcon-qiandao:before {
  content: "\e785";
}

.wlIcon-bangzhu1:before {
  content: "\e840";
}

.wlIcon-miaosha:before {
  content: "\e6bb";
}

.wlIcon-bangzhu2:before {
  content: "\e607";
}

.wlIcon-saoyisao-copy:before {
  content: "\e602";
}

.wlIcon-leimu:before {
  content: "\e610";
}

.wlIcon-jiazai:before {
  content: "\e721";
}

.wlIcon-nan:before {
  content: "\e6b9";
}

.wlIcon-nv:before {
  content: "\e60f";
}

.wlIcon-Xiaomi:before {
  content: "\e6b8";
}

.wlIcon-WeChat:before {
  content: "\e608";
}

.wlIcon-WeiBo:before {
  content: "\e6b6";
}

.wlIcon-QQ:before {
  content: "\e60b";
}

.wlIcon-yue:before {
  content: "\e6b7";
}

.wlIcon-balance-pay:before {
  content: "\e980";
}

.wlIcon-alipay-pay:before {
  content: "\e981";
}

.wlIcon-wechat-pay:before {
  content: "\e982";
}

.wlIcon-zhifubaozhifu:before {
  content: "\e603";
}

.wlIcon-jssdk-pay:before {
  content: "\e6b5";
}

.wlIcon-weizhi1:before {
  content: "\e601";
}

.wlIcon-baobei:before {
  content: "\e693";
}

.wlIcon-guanzhu:before {
  content: "\e6b3";
}

.wlIcon-zuji1:before {
  content: "\e6b4";
}

.wlIcon-guanzhu3:before {
  content: "\e6f7";
}

.wlIcon-listing-jf:before {
  content: "\e6c7";
}

.wlIcon-liebiao:before {
  content: "\e6b2";
}

.wlIcon-shaixuan:before {
  content: "\e881";
}

.wlIcon-lajitong:before {
  content: "\e6cc";
}

.wlIcon-huomiao2:before {
  content: "\e615";
}

.wlIcon-dot:before {
  content: "\e6a9";
}

.wlIcon-lei:before {
  content: "\e60d";
}

.wlIcon-toutiao:before {
  content: "\e600";
}

.wlIcon-headlines:before {
  content: "\e94a";
}

.wlIcon-xiaoxizhongxin:before {
  content: "\e6b1";
}

.wlIcon-shiyongbangzhu1:before {
  content: "\e824";
}

.wlIcon-qingkong:before {
  content: "\e946";
}

.wlIcon-shezhi:before {
  content: "\e6c3";
}

.wlIcon-guanfang:before {
  content: "\e668";
}

.wlIcon-gerenguanzhu:before {
  content: "\e667";
}

.wlIcon-yiguanzhu1:before {
  content: "\e6b0";
}

.wlIcon-fenxiangcopy:before {
  content: "\e6ae";
}

.wlIcon-weizhi:before {
  content: "\e6af";
}

.wlIcon-gouwuche:before {
  content: "\e6ac";
}

.wlIcon-kefu:before {
  content: "\e6ad";
}

.wlIcon-tishi1:before {
  content: "\e6ab";
}

.wlIcon-wuliuqiache2:before {
  content: "\e821";
}

.wlIcon-liuyan-fill:before {
  content: "\e6aa";
}

.wlIcon-tongzhi:before {
  content: "\e6ca";
}

.wlIcon-dianpu1:before {
  content: "\e6a7";
}

.wlIcon-dianpu2:before {
  content: "\e6a8";
}

.wlIcon-jian:before {
  content: "\e6a5";
}

.wlIcon-tianjia:before {
  content: "\e6a6";
}

.wlIcon-wancheng:before {
  content: "\e6a3";
}

.wlIcon-ok:before {
  content: "\e6c2";
}

.wlIcon-yunshuzhong:before {
  content: "\e70d";
}

.wlIcon-paisongtixing:before {
  content: "\e6a4";
}

.wlIcon-cainixihuan:before {
  content: "\e6a2";
}

.wlIcon-fenxiao:before {
  content: "\e698";
}

.wlIcon-kanjia:before {
  content: "\e69a";
}

.wlIcon-unie737:before {
  content: "\e69e";
}

.wlIcon-qianbao:before {
  content: "\e69f";
}

.wlIcon-dizhi:before {
  content: "\e6a0";
}

.wlIcon-pintuan:before {
  content: "\e6a1";
}

.wlIcon-daifukuan:before {
  content: "\e655";
}

.wlIcon-daishouhuo:before {
  content: "\e699";
}

.wlIcon-daifahuo:before {
  content: "\e618";
}

.wlIcon-gerenerweima:before {
  content: "\e69b";
}

.wlIcon-shouhou:before {
  content: "\e69c";
}

.wlIcon-daipinglun:before {
  content: "\e69d";
}

.wlIcon-xinlang:before {
  content: "\e619";
}

.wlIcon-weixin:before {
  content: "\e63a";
}

.wlIcon-erweima:before {
  content: "\e658";
}

.wlIcon-qianbao-:before {
  content: "\e657";
}

.wlIcon-tuikuan:before {
  content: "\e665";
}

.wlIcon-tuikuan1:before {
  content: "\e666";
}

.wlIcon-31yuyinxuanzhong:before {
  content: "\e669";
}

.wlIcon-31yuyin:before {
  content: "\e66a";
}

.wlIcon-31guanbi:before {
  content: "\e66b";
}

.wlIcon-31xuanze:before {
  content: "\e66c";
}

.wlIcon-31xuanzhong:before {
  content: "\e66d";
}

.wlIcon-31yiguanzhudianpu:before {
  content: "\e66e";
}

.wlIcon-31dianpu:before {
  content: "\e66f";
}

.wlIcon-31fenxiang:before {
  content: "\e670";
}

.wlIcon-31zhuanfa:before {
  content: "\e671";
}

.wlIcon-31daifahuo:before {
  content: "\e672";
}

.wlIcon-31daifukuan:before {
  content: "\e673";
}

.wlIcon-31daishouhuo:before {
  content: "\e674";
}

.wlIcon-31daipingjia:before {
  content: "\e675";
}

.wlIcon-tuikuantuihuo:before {
  content: "\e676";
}

.wlIcon-31huiyuanqia:before {
  content: "\e677";
}

.wlIcon-31youhuiquan:before {
  content: "\e678";
}

.wlIcon-31hongbao:before {
  content: "\e679";
}

.wlIcon-31gouwuchexuanzhong:before {
  content: "\e67a";
}

.wlIcon-31gouwuche:before {
  content: "\e67b";
}

.wlIcon-31guanzhuxuanzhong:before {
  content: "\e67c";
}

.wlIcon-31guanzhu:before {
  content: "\e67d";
}

.wlIcon-31shouyexuanzhong:before {
  content: "\e67e";
}

.wlIcon-31shouye:before {
  content: "\e67f";
}

.wlIcon-31wodexuanzhong:before {
  content: "\e680";
}

.wlIcon-31wode:before {
  content: "\e681";
}

.wlIcon-jiangjia:before {
  content: "\e682";
}

.wlIcon-liwuhuodong:before {
  content: "\e683";
}

.wlIcon-31jiancai:before {
  content: "\e684";
}

.wlIcon-liebiaomoshi:before {
  content: "\e685";
}

.wlIcon-zhongtumoshi:before {
  content: "\e686";
}

.wlIcon-chakan:before {
  content: "\e687";
}

.wlIcon-guanbi:before {
  content: "\e688";
}

.wlIcon-guanzhu2:before {
  content: "\e689";
}

.wlIcon-huore:before {
  content: "\e68a";
}

.wlIcon-laba:before {
  content: "\e68b";
}

.wlIcon-lingdang:before {
  content: "\e68c";
}

.wlIcon-31paishexuanzhong:before {
  content: "\e68d";
}

.wlIcon-31paishe:before {
  content: "\e68e";
}

.wlIcon-31guanzhu1xuanzhong:before {
  content: "\e690";
}

.wlIcon-fanhuigengduo:before {
  content: "\e949";
}

.wlIcon-31guanzhu1:before {
  content: "\e691";
}

.wlIcon-31huidaodingbu:before {
  content: "\e692";
}

.wlIcon-31tishi:before {
  content: "\e696";
}

.wlIcon-31haoyou:before {
  content: "\e697";
}

.wlIcon-saoyisao:before {
  content: "\e61c";
}

.wlIcon-jiang:before {
  content: "\e947";
}

.wlIcon-sheng:before {
  content: "\e948";
}

.wlIcon-fenxiang:before {
  content: "\e621";
}

.wlIcon-fenlei1:before {
  content: "\e624";
}

.wlIcon-sousuo1:before {
  content: "\e625";
}

.wlIcon-dianpu:before {
  content: "\e629";
}

.wlIcon-guanzhuxuanzhong:before {
  content: "\e62a";
}

.wlIcon-guanzhu1:before {
  content: "\e62b";
}

.wlIcon-wo:before {
  content: "\e62d";
}

.wlIcon-biaoqing:before {
  content: "\e62f";
}

.wlIcon-shijian:before {
  content: "\e633";
}

.wlIcon-xiugaioryijian:before {
  content: "\e636";
}

.wlIcon-pengyouquan:before {
  content: "\e639";
}

.wlIcon-lianjie:before {
  content: "\e63b";
}

.wlIcon-fanhui8:before {
  content: "\e63d";
}

.wlIcon-fanhui7:before {
  content: "\e63e";
}

.wlIcon-fanhui6:before {
  content: "\e63f";
}

.wlIcon-fanhui5:before {
  content: "\e640";
}

.wlIcon-gengduo:before {
  content: "\e641";
}

.wlIcon-fanhui1:before {
  content: "\e644";
}

.wlIcon-fanhui2:before {
  content: "\e645";
}

.wlIcon-fanhui3:before {
  content: "\e646";
}

.wlIcon-fanhui4:before {
  content: "\e647";
}

.wlIcon-sanjiao2:before {
  content: "\e64c";
}

.wlIcon-sanjiao1:before {
  content: "\e64d";
}

.wlIcon-sanjiao4:before {
  content: "\e64e";
}

.wlIcon-sanjiao3:before {
  content: "\e64f";
}

.wlIcon-jifen:before {
  content: "\e650";
}

.wlIcon-shanchu2:before {
  content: "\e651";
}

.wlIcon-bangzhu:before {
  content: "\e65f";
}

.wlIcon-hongbao:before {
  content: "\e664";
}
